body, html {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f0f0;
}

.container {
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

#startStopBtn {
  font-size: 1.2rem;
  padding: 10px;
  width: 100%;
  margin-top: 8px;
  border-radius: 6px;
  border: none;
  background: #0078ff;
  color: white;
}

#map {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  border-radius: 8px;
}

#resultText {
  margin-top: 6px;
  font-size: 0.9rem;
}

.red-pin {
  font-size: 16px;
}
